<div class="modal-container" id="about">
  <a class="close" href="#"></a>
  <section>
    <h1 class="fontify">EN SAVOIR PLUS</h1>
    <div class="row centered">
      <div class="col-md-8">
        <div class="column">
          <h2 class="fontify">
            <img src="assets/images/ouvrages.png" alt="picto" />
            OUVRAGES
          </h2>
          <div class="row">
            <div class="col-md-6">
              <p>Le Livre de ma Grand-mère
                <br>
                <span class="subtitle">Fethiye Cetin, éditions de l’aube, 2006</span>
              </p>
              <p>Les Restes de l'épée
                <br>
                <span class="subtitle">Laurence Ritter et Max Sivaslian,<br>Editions Thaddée, 2012</span>
              </p>
              <p>La Turquie et le Fantôme Arménien
                <br>
                <span class="subtitle">Laure Marchand et Guillaume Perrier,<br>Solin Actes Sud, 2013</span>
              </p>
              <p>Les Petits-Enfants
                <br>
                <span class="subtitle">Fethiye Çetin et Ayşe Gül Atinay, <br>Actes Sud, 2011</span>
              </p>
              <p>Histoire de la Turquie Contemporaine
                <br>
                <span class="subtitle">Hamit Bozarslan, Tallandier, 2013</span>
              </p>
              <p>Enquête sur la Négation d’un Génocide
                <br>
                <span class="subtitle">Yves Ternon, Parenthèses, 1989</span>
              </p>
            </div>
            <div class="col-md-6">
              <p>Mémorial du Génocide des Arméniens
                <br>
                <span class="subtitle">Raymond Kevorkian, Yves Ternon, Seuil, 2014</span>
              </p>
              <p>La Batarde d’Istanbul
                <br>
                <span class="subtitle">Elif Shafak, Editions Phébus, 2007</span>
              </p>
              <p>Parce qu’ils sont Arméniens
                <br>
                <span class="subtitle">Pinar Selek, Éditions Liana Levi, 96 p. <br>Paris, 2015</span>
              </p>
              <p>Le Grand Mal
                <br>
                <span class="subtitle">Paolo Cossi, Medz Yeghern,<br>Édition Dargaud, 2009</span>
              </p>
              <p>Le Cahier à Fleurs
                <br>
                <span class="subtitle">Laurent Galandin, Viviane Nicaise,<br>Bamboo Editions, 2010
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column">
          <h2 class="fontify">
          <img src="assets/images/camera.png" alt="picto" />
          DOCUMENTAIRES
          </h2>
          <p class="pt">L’Héritage du Silence
            <br>
            <span class="subtitle">d’Anna Benjamin et Guillaume Clere,<br>Découpages et Toute l’Histoire, 2015</span>
          </p>
          <p class="pt">Les Fontaines de Habap
            <br>
            <span class="subtitle">de Dilek Aydin, Fondation Hrant Dink, 2013</span>
          </p>
          <p class="pt">Aghet : 1915, le Génocide Arménien
            <br>
            <span class="subtitle">d’Eric Friedler, Catherine M. Trebitsch, 2011</span>
          </p>
          <p class="pt">Le Génocide Arménien
            <br>
            <span class="subtitle">de Laaurence Jourdan, LCP, 2005</span>
          </p>
          <p class="pt">Nous avons bu la même Eau
            <br>
            <span class="subtitle">de Serge Avédikian, 2008</span>
          </p>
          <p class="pt">Mon Fils sera Arménien
            <br>
            <span class="subtitle">de Hagop Goudsouzian, 2004</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
