<div class="modal-container">
  <a class="close" href="#">X</a>
  <section>
    <h1 class="fontify">En savoir plus</h1>
    <div class="row centered">
      <div class="col-md-8">
        <div class="column">
          <h2 class="fontify">Ouvrages</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Le Livre de ma Grand-mère
                <br>
                <span class="subtitle">Fethiye Cetin, éditions de l’aube, 2006</span></p>
            </div>
            <div class="col-md-6">.col-md-6</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column">
          <h2 class="fontify">Documentaires</h2></div>
      </div>
    </div>
  </section>
</div>
