<nav data-ng-controller="FooterCtrl">
  <ul>
    <li ng-repeat="episode in episodes">
      <a href="#/player/{{episode.id}}">
        <span class="desc">{{episode.desc}}</span>
        <img ng-src="{{episode.activate && episode.on || episode.off}}" alt="{{episode.desc}}" />
      </a>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-2">un production <img src="assets/images/footer_1_decoupages.png" alt="logo découpage" /></div>
    <div class="col-md-2">en co-production avec <img src="assets/images/footer_2_capa.png" alt="logo capa" /></div>
    <div class="col-md-2">et en partenariat avec
      <img src="assets/images/footer_3_mediapart.png" alt="logo mediapart" />
      <img src="assets/images/footer_4_franceinfo.png" alt="logo france info" /></div>
    <div class="col-md-2">avec le soutien de <img src="assets/images/footer_5_cnc.png" alt="logo cnc" /></div>
    <div class="col-md-1"><img src="assets/images/footer_6_kultur.png" alt="logo kultur" /></div>
    <div class="col-md-1"><img src="assets/images/footer_7_fondation.png" alt="logo fundation" /></div>
    <div class="col-md-1"><img src="assets/images/footer_8_fineko.png" alt="logo fineko" /></div>
    <div class="col-md-1"><img src="assets/images/footer_9_kisskiss.png" alt="logo kisskiss" /></div>
  </div>
</nav>
