<section>
  <div class="homepage">
    <h1>Une websérie documentaire<br>d'<strong>Anna Benjamin</strong> et <strong>Guillaume Clere</strong>
    <br>
    Illustrée par <strong>Aline Rollin</strong>
    </h1>
    <img class="logo" src="../assets/images/homepage_logo.png" alt="logo" />
    <p class="tac fontify spacing">100 ans après le génocide Arménien</p>
    <div class="parent">
      <div class="wall">
      </div>
      <div class="profile">
      </div>
    </div>
    <!--     <div class="container">
    <img src="../assets/images/bt_commencer_1.png"/>
    <img src="../assets/images/bt_commencer_2.png" class="hover" />
    </div> -->
    <a class="start fontify" href="#/intro"></a>
  </div>
</section>
