<div class="modal-container" id="whoarethey">
  <a class="close" href="#"></a>
  <section>
    <h1 class="fontify">Qui sont-ils ?</h1>
    <div class="row centered">
      <div class="col-md-8">
        <div class="column">
          <p>Nazli, Armen, Dogukan, Yasar sont turcs et kurdes. Mais une découverte tardive a bouleversé leur existence : ils sont aussi arméniens. Un secret d’Etat et de famille se dissimule derrière cette réalité : leurs parents ou leurs grands-parents ont survécu au génocide en dissimulant leur véritable identité. En 1915, 1,5 millions d’Arméniens ont été tués dans l’Empire ottoman. Mais fait méconnu : entre 100 000 et 200 000 ont échappé aux massacres et sont restés vivre sur leurs terres natales. Sauvés ou enlevés par des familles turques et kurdes, cachés dans les montagnes d’Anatolie, tous ont été assimilés, puis oubliés.</p>
          <p class="tac mt">
            <img src="assets/images/carte_turquie.png" alt="map turkey" />
          </p>
          <p class="mt">Après un siècle de peur et de honte, Nazli, Armen, Dogukan, Yasar se battent pour faire revivre toute une mémoire enfouie. L'Héritage du Silence explore le poids du silence qui pèse encore en Turquie sur le génocide de 1915 et sur les Arméniens islamisés qui seraient aujourd’hui des millions. Quatre d’entre eux ont décidé de briser ce tabou. </p>
          <div class="pt cartouche dispt">
            <div class="pict disptc">
              <img src="assets/images/about_nazli.jpg" alt="Nazli" />
            </div>
            <div class="desc disptc">
              <h4>Nazli, 37 ans</h4>
              <p>Sa famille lui a longtemps caché ses origines arméniennes. Bouleversée par ce passé dissimulé et par la perte de cette culture, Nazli veut transmettre cette identité longtemps interdite à son fils. Déterminée, elle s’engage dans un bras de fer judiciaire avec l’État pour inscrire son enfant dans une école arménienne.</p>
            </div>
          </div>
          <div class="pt cartouche dispt clr">
            <div class="desc disptc">
              <h4>Armen</h4>
              <p>Ce n’est qu’à la mort de son père qu’Armen apprend sa véritable histoire familiale. Son père a été sauvé par une famille kurde pendant le génocide. Aujourd’hui, Armen, 55 ans, est devenu le gardien de l’église arménienne de Diyarbakir pour honorer cette mémoire. Il espère un jour retrouver des membres de sa famille.</p>
            </div>
            <div class="pict disptc">
              <img src="assets/images/about_armen.jpg" alt="Armen" />
            </div>
          </div>
          <div class="pt cartouche dispt clr">
            <div class="pict disptc">
              <img src="assets/images/about_dogukan.jpg" alt="Dogukan" />
            </div>
            <div class="desc disptc">
              <h4>Dogukan</h4>
              <p>Pendant des années, Dogukan, 22 ans, a dissimulé à son entourage son identité arménienne. Secoué par un évènement tragique, il choisit finalement de surmonter sa peur et prend une décision hautement symbolique : se reconvertir au christianisme pour faire revivre l’identité de ses ancêtres.</p>
            </div>
          </div>
          <div class="pt cartouche dispt clr">
            <div class="desc disptc">
              <h4>Yasar</h4>
              <p>À 39 ans, Yasar découvre la vérité : il est arménien. Il apprend aussi l’existence d'un arrière­grand-père qui a survécu aux massacres et trouvé refuge dans les montagnes de Hemshin. Pour la première fois, Yasar, 44 ans, part à Van, dans l'est de la Turquie, sur les traces de cet ancêtre et de sa propre histoire.</p>
            </div>
            <div class="" pict disptc>
              <img src="assets/images/about_yasar.jpg" alt="Yasar" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column">
          <img src="assets/images/about_logo.png" alt="logo" />
          <p class="titleify mt">
            <span class="fontify mt">c'est aussi</span>
          </p>
          <p class="tac gl mt">
            <strong>Le documentaire de 52 minutes</strong>
            <br> Produit par Découpages et Toute l’Histoire, diffusé sur la chaîne Toute L’histoire, le 22 avril 2015.
          </p>
          <div class="calendar">
            <p class="tac gl">Le 12, 16 et 17 avril à Istanbul, au Festival international du film d’Istanbul.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt">
        <div class="column">
          <div id="followus">
            <h3 class="fontify">Pour nous suivre</h3>
            <ul>
              <li class="fb">
                <a href="https://www.facebook.com/heritagedusilence" target="_blank"></a>
              </li>
              <li class="tw">
                <a href="https://twitter.com/HeritageSilence" target="_blank"></a>
              </li>
            </ul>
            <!-- <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Recevoir les publications par email">
              </div>
              <button type="submit" class="btn btn-ok"></button>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
