$gray: #CDC1B1;
$grayDark:#333;
$grayLight:#808080;
$white:#f0ebe8;
$black:#100f0f;
$yellow:#d1ad4e;
$cream:#e7e0d6;
@import "../bower_components/bourbon/dist/_bourbon";
@import 'nav';
@import 'player';
@import 'footer';
@import 'modal';
@font-face {
  font-family: "BirchStd";
  src: url('../../../assets/fonts/BirchStd.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/BirchStd.otf') format('opentype'), url('../../../assets/fonts/BirchStd.woff') format('woff'), url('../../../assets/fonts/BirchStd.ttf') format('truetype'), url('../../../assets/fonts/BirchStd.svg#BirchStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  min-height: 100%;
}

html {
  background: black url('../../../assets/images/bg_homepage.jpg') no-repeat;
  background-size: cover;
}

body {
  background: transparent;
  main {
    height: 90%;
    section {
      .homepage {
        width: 300px;
        margin: 0 auto;
        padding-top: 60px;
        color: $gray;
        text-align: center;
        h1, h2 {
          font-size: 15px;
          line-height: 18px;
          strong {
            color: $white;
          }
        }
        .logo {
          margin-top: 5%;
          width: 100%;
        }
        .start {
          display: block;
          width: 334px;
          height: 60px;
          background: url('../../../assets/images/bt_commencer.png') no-repeat;
          margin: 30px 0 0 0px;
          &:hover {
            background-position-y: -60px;
          }
        }
        div.wall:hover {
          margin-top: -410px;
          opacity: 0;
        }
        div.wall:hover + div.profile {
          height: 400px;
          opacity: 1;
        }
        div.profile > span {
          color: black;
        }
      }
    }
  }
}

.video-tag {
  opacity: 0;
}

//HELPERS
.invisible {
  visibility: hidden;
}

.fl {
  float: left;
}

.fontify {
  font-family: "BirchStd";
  font-size: 30px;
}

.titleify {
  text-align: center;
  color: $grayLight;
  padding: 10px;
  display: table;
  margin: 0 auto;
  width: 100%;
  span {
    background: $cream;
    padding: 10px;
  }
  &:before,
  &:after {
    border-top: 2px solid $cream;
    content: '';
    display: table-cell;
    position: relative;
    top: 16px;
    width: 45px;
  }
}

.little {
  width: 140px;
}

.close {
  position: absolute;
  right: 0;
  top: 20px;
  opacity: 1;
  width: 40px;
  height: 40px;
  background: url('../../../assets/images/close.png') no-repeat;
}

#nav-main {
  display: none;
}

.spacing {
  letter-spacing: 1px;
}

.tac {
  text-align: center;
}

.mt {
  margin-top: 30px;
}

.pt {
  padding-top: 20px;
}

.gl {
  color: $gray !important;
  strong, span {
    color: $black !important;
  }
  a {
    color: $grayLight;
    text-decoration: underline;
  }
}

.dispt {
  display: table;
  width: 100%;
}

.disptc {
  display: table-cell;
  vertical-align: top;
}

.cartouche {
  background: white;
  height: 180px;
  width: 100%;
  margin: 25px 0;
  .pict {
    padding: 0 0px;
  }
  .desc {
    padding: 15px 15px;
  }
}

.bkgw {
  background: white;
}

.ph {
  padding: 0 10px;
}

.clr {
  clear: both;
}
/* Desktops and laptops ----------- */

@media only screen and (max-width: 1400px) {
  .fontify {
    font-size: 25px;
  }
  .col-md-3 {
    width: 20%;
  }
  .navbar .nav .col-md-2 {
    width: 13%;
  }
  h1 {
    margin-top: 0;
  }
  body main section .homepage .start {
    margin: 10px 0 0 0;
  }
  footer ul {
    padding: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .collapse {
    display: block !important;
  }
  .menu-responsive {
    display: block !important;
    position: absolute !important;
    top: 0;
    right: 0;
    .glyphicon {
      line-height: 70px;
      color: $white;
      padding: 0 20px;
    }
  }
  ul.nav.navbar-nav.row.dispt {
    float: left;
    margin: 0;
  }
  #nav-main {
    display: none;
    position: absolute;
    background: $black;
    z-index: 5;
    right: -30%;
    width: 50%;
    height: 100%;
    a {
      color: $grayDark;
      border-bottom: #f2ede7 1px solid;
      &[data-active="false"] {
        pointer-events: none;
      }
      &:hover {
        color: $white;
        background-color: transparent;
        border-bottom-color: $yellow;
      }
      &.active {
        color: $white;
        border-bottom-color: $yellow;
      }
    }
    &.expand {
      transition: all 0.3s ease;
      display: block;
      right: 0;
    }
    .nav {
      width: 60%;
      height: 100%;
      float: right;
      background: $black;
    }
    .vignettes,
    .reperes-responsive {
      list-style-type: none;
      float: left;
      padding: 0;
      .thumb-vignette {
        margin: 2px;
      }
    }
  }
  .navbar .nav {
    li {
      display: none;
      &.brand {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  #nav-main .nav {
    width: 60%;
    height: 100%;
    float: right;
    background: $black;
  }
}

@media only screen and (max-width: 650px) {
  #nav-main .nav {
    width: 50%;
    height: 100%;
    float: right;
    background: $black;
  }
}
