$gray: #cdc1b1;
$grayDark:#333;
$white:#f0ebe8;
$black:#100f0f;
$yellow:#d1ad4e;
@import "../bower_components/bourbon/dist/_bourbon";
@import 'nav';
@import 'player';
@import 'footer';
@font-face {
  font-family: "BirchStd";
  src: url('../../../assets/fonts/BirchStd.otf');
}

html,
body {
  height: 100%;
}

body {
  background: black;
  main {
    height: 100%;
    background: url('../../../assets/images/bg_homepage.jpg') no-repeat;
    background-size: cover;
    section {
      .homepage {
        width: 300px;
        margin: 0 auto;
        padding-top: 30px;
        color: $gray;
        text-align: center;
        h1, h2 {
          font-size: 16px;
          line-height: 25px;
          strong {
            color: $white;
          }
        }
        .logo {
          margin-top: 50px;
        }
        .start {
          display: block;
          width: 330px;
          height: 60px;
          background: url('../../../assets/images/btn_start.png') no-repeat;
          margin: 60px 0 0 30px;
          color: $black;
          line-height: 64px;
          padding-left: 30px;
        }
      }
    }
  }
}

//HELPERS
.invisible {
  visibility: hidden;
}

.fl {
  float: left;
}

.fontify {
  text-transform: uppercase;
  font-family: "BirchStd";
  font-size: 40px;
  ;
}
