.navbar {
  background: black;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  height: 60px;
  .nav {
    width: 100%;
    li {
      cursor: pointer;
      text-align: center;
      &:hover {
        background: #333;
      }
      &.dropdown:hover > ul.dropdown-menu {
        display: block;
      }
      a {
        color: #e8e9eb !important;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        height: 70px;
      }
      .navbar-brand {
        font-size: 0;
        width: 90px;
        background: url('../../../assets/images/header_logo.png') no-repeat -10px 10px;
        background-size: contain;
        height: 70px;
        padding-right: 30px;
      }
    }
    .dropdown-menu {
      width: 100%;
      background: black;
      border: none;
      padding: 0;
      li a {
        &:hover, &:focus {
          background: #333;
          border: none;
        }
      }
    }
  }
}
