.picto {
  position: absolute;
  bottom: 0;
  margin-left: 75px;
}

#animation {
  display: none;
  position: absolute;
  cursor: pointer;
}

.layered {
  position: relative;
  height: 100%;
  overflow: hidden;
  .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
  }
  .repere {
    position: absolute;
    left: 50%;
    margin-left: -205px;
    z-index: 2;
    top: 50%;
    margin-top: -300px;
    display: none;
    cursor: pointer;
    width: 420px;
  }
}

.skip {
  background: url('../../../assets/images/bt_passerintro_sprite.png') no-repeat 0px 0px;
  cursor: pointer;
  &:hover {
    background-position-y: -60px;
  }
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 189px;
  height: 60px;
  z-index: 4;
}
